body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: #13A7F2;
    font-size: 24pt;
}

a {
    color:#0008AF;
}
/* mouse over link */
a:hover {
  color: #D36176	;
}
/* mouse over link */
#important_paragraph:hover {
  background:yellow;
  font-size:40px;
  font-family:comic sans MS;
}

/* mouse over link */
.less_important_paragraphs:hover {
  color:blue;
  font-size:30px;
  font-family:David;
}